<section class="public-sign-in">
 <h2>To view <%= @list.user.first_name %>'s Pinefor list you need to sign in or sign up, which is <strong>totally free</strong> by the&nbsp;way.</h2>

  <div class="centered">
    <%= render "devise/shared/sign_in" %>
  </div>

</section>