<div class="single-bought-gift">
  <p>
    <%= link_to public_list_path(gift.list.public_hash) do %>
      <i class="icon-gift"></i> <%= gift.name %>
    <% end %>
  </p>
</div> <!--  .single-bought-gift -->