<%= form_for @list, html: {class: "create-list-form phrase-form"} do |f| %>

    <p>I want to create a list for
    <%= f.text_field :name, placeholder: "My Birthday", autofocus: true %>
    on the
    <%= f.text_field :human_due_date, placeholder: "10th Jan 2014" %>
    </p>
    <%= f.submit "Create List", class: "btn btn-success" %>

<% end %>