<div class="single-list">
  <p>
    <%= link_to list_path(list), css: 'single-list__link' do  %>
      <%= list.name %>
      <span class="gift-count"><i class="icon-gift"></i> <%= pluralize(list.gifts_count, 'gift') %></span>
    <% end %>
  </p>
</div> <!--  .single-list -->