<div class="content-container">
  <%= render'new_list' %>

  <section class="all-lists">
    <h2>Your lists</h2>

  <% if @lists.any? %>
      <%= render @lists %>
  <% else %>
    <p class="no-data">You haven’t created any lists yet</p>
  <% end %>
  </section>

  <section class="gifts-buying">
    <h2>Gifts your buying</h2>
  <% if @gifts.any? %>
    <% @gifts.each do |gift| %>
      <%= render'gifts/bought_gift', gift: gift %>
    <% end %>
  <% else %>
    <p class="no-data">You're not buying any gifts yet</p>
  <% end %>
  </section> <!--  .gifts-buying -->
</div>