<div class="content-container">
  <%= render'new_form' %>

  <section class="all-lists">
    <h2>Your lists</h2>

  <% if @lists.any? %>
    <% @lists.each do |list| %>
      <%= render'single_list', list: list %>
    <% end %>
  <% else %>
    <p class="no-data">You haven’t created any lists yet :(</p>
  <% end %>
  </section>

  <section class="gifts-buying">
    <h2>Gifts your buying</h2>
  <% if @gifts.any? %>
    <% @gifts.each do |gift| %>
      <%= link_to gift.name, gift.list %>
    <% end %>
  <% else %>
    <p class="no-data">You haven’t bought any gifts yet :(</p>
  <% end %>
  </section> <!--  .gifts-buying -->
</div>