<div class="content-container">
  <% # Checks if user is logged in and if not shows login form then checks if they own the list they are trying to view %>

  <% if !user_signed_in? %>
    <%= render'lists/public/login' %>
  <% elsif current_user == @list.user %>
    <%= render'lists/public/owns' %>
  <% else %>
    <%= render'lists/public/show' %>
  <% end %>
</div>