<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pinefor - Notifcation Email</title>

<style>
/* -------------------------------------
    GLOBAL
------------------------------------- */
* {
  margin:0;
  padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img {
  max-width: 100%;
}
.collapse {
  margin:0;
  padding:0;
}
body {
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:none;
  width: 100%!important;
  height: 100%;
}

p.callout {
  padding:11px;
  background-color:#eeeeee;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}


/* -------------------------------------
    ELEMENTS
------------------------------------- */
a { color: #50a9d1;}

/* -------------------------------------
    HEADER
------------------------------------- */
table.head-wrap { width: 100%; }
.header a {  text-decoration: none; }
.header td { vertical-align: middle; }
.header img.logo { margin-right: 18px; }
.header h6 { color: #fafafa; text-transform: none; font-weight: normal;}

/* -------------------------------------
    BODY
------------------------------------- */
table.body-wrap { width: 100%;}


/* -------------------------------------
    FOOTER
------------------------------------- */
table.footer-wrap { width: 100%;  clear:both!important;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
  font-size:10px;
  font-weight: bold;

}


/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,h2,h3,h4,h5 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}


h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; }

.collapse { margin:0!important;}

p, ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size:14px;
  line-height:1.6;
  color: color:#000;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}

ul li {
  margin-left:5px;
  list-style-position: inside;
}


/* ---------------------------------------------------
    RESPONSIVENESS
    Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display:block!important;
  max-width:600px!important;
  margin:0 auto!important; /* makes it centered */
  clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  padding:11px;
  max-width:600px;
  margin:0 auto;
  display:block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
  width: 300px;
  float:left;
}
.column tr td { padding: 15px; }
.column-wrap {
  padding:0!important;
  margin:0 auto;
  max-width:600px!important;
}
.column table { width:100%;}
.social .column {
  width: 280px;
  min-width: 279px;
  float:left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* -------------------------------------------
    PHONE
    For clients that support media queries.
    Nothing fancy.
-------------------------------------------- */
@media only screen and (max-width: 600px) {

  a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

  div[class="column"] { width: auto!important; float:none!important;}

  .header .tldr-header { display: none; }

  .header .logo-section { text-align: center; }

}
</style>

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#4C5364">
  <tr>
    <td></td>
    <td class="header container" >

        <div class="content">
        <table bgcolor="#4C5364">
          <tr>
            <td class="logo-section">
              <a href="http://pinefor.it">
                <img class="logo" width="38" src="http://pinefor.s3.amazonaws.com/emails/logo.png" />
                <img width="139" src="http://pinefor.s3.amazonaws.com/emails/logo-text.png" alt="Pinefor" />
              </a>
            </td>
          </tr>
        </table>
        </div>

    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">

      <table>
        <tr>
          <td>
            <p class="callout">A gift you're buying has been deleted</p>

            <h3>Hi, <%= @user.full_name %></h3>
            <p class="lead">We are really sorry, but it looks as if the <strong><%= @gift.name %></strong> gift you were buying for <strong><%= @list_user.full_name %></strong> has been deleted. </p>

            <p>Obviously there are a few reasons why this might have happened. Maybe they treated themselves and bought it or maybe they just don't really want it anymore. I would suggest maybe heading back to their list and choosing another gift.</p>

            <p>Why not hop, skip or jump back to their list <a href="http://pinefor.it/public/<%= @gift.list.public_hash %>"><strong>here</strong></a> to pick another gift.</p>

            <p><strong>Thanks<br> The Pinefor team</strong></p>

          </td>
        </tr>
      </table>
      </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">

        <!-- content -->
        <div class="content">
        <table>
        <tr>
          <td align="center">
            <p>
              <!--<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>-->
            </p>
          </td>
        </tr>
      </table>
        </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>