<%= form_for [@list, @gift], html: {class: "create-gift-form"} do |f| %>
  <div class="inline-field-form">
    <p>I’m pining for a <%= f.text_field :name %> it can be bought here <%= f.text_field :link %></p>
  </div>
  <%= f.submit "Create Gift" %>
<% end %>