<section class="content-container">
  <div class="about-copy">
    <h2>About Pinefor</h2>
    <p>The idea for <span class="logo-text">Pine<span>for</span></span> was conceived on Christmas day 2012 when I found that I had bought duplicate presents for my girlfriend. A Christmas list had been shared on email to all family members, but due to the busy nature of all of our lives we hadnt discussed who was getting what.</p>

    <p>I had been looking for a new app idea for a while to teach myself rails properly and this seemed like a good enough reason. It's taken quite a few false starts and life distractions but thanks to the help of <a href="http://twitter.com/riklomas">@riklomas</a> and <a href="http://twitter.com/tmcdb">@tmcdb</a> I have finally got something I'm a little proud of.</p>

    <p><span class="logo-text">Pine<span>for</span></span> is still in beta & I would love to hear from you if you have any feature ideas and/or find any bugs. Drop me a message at <a href="mailto:hello@pinefor.it">hello@pinefor.it</a></p>

    <div class="about-me">
      <%= image_tag "me.jpg", class: "me" %>
      <h2 class="beta-heading">About me</h2>
      <p>My name is Sam Mason, I'm a developer and teacher at <a href="http://steer.me">Steer</a>. I live in London and you can read my inane chatter <a href="http://maison.io">here</a>, or for shorter ramblings you can find me on twitter <a href="http://twitter.com/samjbmason">@samjbmason</a>.</p>
    </div> <!--  .about-me -->

  </div> <!--  .about-copy -->
</section> <!--  .content-container -->