<section class="hero">
  <div class="container">
    <div class="hero-text">
      <h2>Create & share gift lists with your friends & family</h2>
      <h3>Then leave it up to them who buys you what.</h3>
      <%= link_to "Sign Up for free", new_user_registration_path, class: "btn btn-success btn-block" %>
    </div> <!--  .hero-text -->
  </div> <!--  .container -->
</section> <!--  .hero -->

<section class="description">

</section> <!--  .description -->