.user-count,
.latest-user {
  @include span-columns(6);
  padding-top: 18px;
  background: #eeeeee;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 21px;
  @include media($mobile) {
    @include span-columns(12);
  }
}

.metric-row {
  @include row;
}

.no-of-users,
.latest-user-details {
  display: block;
  font-size: 21px;
  color: $primary-c;
}

.less-users {
  color: $warning-c;
  &:before {
    content: '\25BC';
  }
}

.more-users {
  color: $success-c;
  &:before {
    content: '\25B2';
  }
}


.search-users {
  form {
    @include clearfix;
  }
  fieldset {
    float: left;
    width: 80%;
    @include media($mobile) {
      width: 100%;
      margin-bottom: 13px;
    }
    label {
      display: block;
      font-size: 13px;
    }
    input {
      width: 80%;
      @include media($mobile) {
        width: 100%;
      }
    }
  }
  input[type="submit"] {
    float: right;
    width: 20%;
  }
}

.search-results {
  margin-top: 13px;
  @include media($mobile) {
    text-align: center;
  }
  .search-user-result {
    padding-top: 18px;
    border-top: 2px solid #eeeeee;
  }
}


/* ==========================================================================
   Charts
   ========================================================================== */
.chart {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 2px solid #eeeeee;
}

#weekly-users-chart {
  width: 100% !important;
  max-width: 720px;
  height: auto !important;
}