<section class="content-container four-oh-four">
  <h2><strong>Ooops!</strong> It seems like something may have gone astray, or maybe it was never here in the first place.</h2>
  <%= image_tag "wtf.gif" %>
</section> <!--  .container -->