<section class="content-container five-oh-oh">
  <h2><strong>Sorry</strong>, this one is definitely on us.<br> I would suggest you maybe just try and refresh the page</h2>
  <%= link_to "back home", root_path, class: "btn btn-primary" %>
</section> <!--  .content-container five-oh-oh -->