/* ==========================================================================
   All gifts of single list
   ========================================================================== */
.gift-details {
  @include row;

  .gift-meta {
    @include span-columns(8);
  }
  .gift-actions {
    @include span-columns(4);
    text-align: right;
  }
  .gift-link {
    margin-left: 18px;
    @include media($mobile) {
      display: block;
      margin-left: 0;
      margin-top: 11px;
    }
  }
  .edit-gift,
  .delete-gift {
    display: none;
    font-size: 1.3em;
    @include media($mobile) {
      display: inline;
    }
  }

  .delete-gift:hover {
    color: $warning-c;
  }
}

/* ==========================================================================
   Create gift
   ========================================================================== */
.create-gift-form.phrase-form {
  border-top: 2px solid #eeeeee;
}


/* ==========================================================================
   Gift edit
   ========================================================================== */
.single-gift-container {
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 2px solid #eeeeee;

  &:hover {
    .edit-gift,
    .delete-gift {
      display:inline;
    }
  }
  &:last-child {
    border-bottom: none;
  }
  &.open {
    .js-gift-details {
      display: none;
    }
    .js-gift-edit {
      display: block;
    }
  }
}


/* ==========================================================================
   Public show page gifts
   ========================================================================== */
.public-list-gifts-container {
  padding-top: 21px;
}

.single-public-gift {
  .gift-meta {
    margin-left: 5px;
  }
  .icon-desc {
    margin-left: 5px;
    background-color: #eeeeee;
    font-size: 13px;
    position: relative;
    padding: 4px;
    display: none;
    &:before {
      content: '';
      position: absolute;
      left: -14px;
      top: 50%;
      margin-top: -7px;
      @include triangle(14px, #eeeeee, left);
    }
  }
  .single-gift--bought {
    .gift-meta {
      font-size: 13px;
    }
    .icon-gift:before {
      color: tint($alpha-c, 21%);
    }
  }
 }