/* ==========================================================================
   Base Layout styles
   ========================================================================== */
html {
  font-family: $whitney;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4;
  color: $alpha-c;
  background: $beta-c;
}

.container,
.content-container {
  @include outer-container;
  position: relative;
}

.content-container {
  margin-top: 21px;
}


/* ==========================================================================
   Header
   ========================================================================== */
header {
  padding: 11px 0;
  background: #4C5364;
  .container {
    height: 56px;
  }
  a {
    color: $beta-c;
  }
}

h1 {
  float: left;
  line-height: 56px;
}

.site-nav {
  float: right;

  a {
    line-height: 56px;
    margin-left: 18px;
    text-transform: lowercase;
    font-weight: 400;
  }
}

/* ==========================================================================
   Logged in home list styles
   ========================================================================== */

.all-lists,
.all-gifts {
  @include span-columns(6);
}


/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  font-size: 11px;
  padding: 47px 0 21px;
  .made-by {
    float: left;
  }
  small {
    float: right;

  }
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  font-size: 13px;
  padding: 11px;
  border-radius: 4px;
  color: $beta-c;
  &.notice {
    background: $primary-c;
  }
  &.alert {
    background: $warning-c;
  }
}

.half-width {
  @include shift(2);
  @include span-columns(8);
}