/* ==========================================================================
   Single List in all lists
   ========================================================================== */
.all-lists {
  a {
    display: block;
  }
  .single-list {
    margin-bottom: 18px;
    border-bottom: 2px solid #eeeeee;
    &:last-child {
      border-bottom: none;
    }
    .gift-count {
      float: right;
    }
  }
}


/* ==========================================================================
   List meta info
   ========================================================================== */
.list-meta {

  &.open {
    .js-list-details {
      display: none;
    }
    .js-list-edit {
      display: block;
    }
  }
  h2 {
    @include inline-block;
    margin-bottom: 13px;
  }
  time {
    font-size: 13px;
    cursor: pointer;
  }
  .js-show-meta-form {
    float: right;
  }
  .share-url-container {
    font-size: 13px;
    margin-bottom: 18px;

    p {
      margin-bottom: 5px;
    }
    .share-url {
      font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
      width: 300px;
      font-size: 13px;
      @include inline-block;
      background: #eeeeee;
      box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
      border-radius: 2px;
      padding: 5px 8px;
      border: none;
    }
  }
}

/* ==========================================================================
   Owns list
   ========================================================================== */
.owns-list-warning {
  margin-top: 21px;
  text-align: center;
}


/* ==========================================================================
   Public sign in
   ========================================================================== */
.public-sign-in {
  margin-top: 21px;
  h2 {
    text-align: center;
    line-height: 1.3;
  }
}


/* ==========================================================================
   Public show
   ========================================================================== */
.public-list-meta {
  h2 {
    @include inline-block;
  }
  time {
    font-size: 13px;
    cursor: pointer;
  }
}