.feature-form {
  width: 100%;
  font-size: 29px;
  background: #f3f1ec;
  padding: 13px;
  margin-bottom: 21px;
  input[type=text] {
    font-size: 29px;
    max-width: 200px;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: $whitney;
  font-weight: 600;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px dashed $alpha-c;
}

input[type="submit"],
button {
  font-family: $whitney;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
  border: 2px solid $alpha-c;
  padding: 8px 13px;
  margin-top: 18px;
  text-transform: lowercase;
}