.hero {
  background: url(image-path("hero-1.jpg")) no-repeat center bottom;
  background-size: cover;
  min-height: 350px;
}

.hero-text {
  width: 60%;
  float: right;
  text-align: center;

  h2 {
    font-family: 'Archer SSm A', 'Archer SSm B';
    font-size: 47px;
    margin-top: 56px;
  }
  h3 {
    padding: 0 34px;
  }
}
