.hero {
  background: url(image-path("hero-1.jpg")) no-repeat center bottom;
  background-size: cover;
  min-height: 350px;
  padding: 40px 0;
}

.hero-text {
  width: 60%;
  float: right;
  text-align: center;

  h2 {
    font-family: $archer;
    font-weight: 400;
    font-size: 47px;
    line-height: 1.2;
    margin-top: 26px;
  }
  h3 {
    padding: 0 34px;
  }
}
