.hero {
  background: url(image-path("hero10.jpg")) no-repeat center;
  background-size: cover;
  min-height: 300px;
  padding: 40px 0;
}

.hero-text {
  text-align: center;
  color: $beta-c;

  h2 {
    font-family: $archer;
    font-weight: 400;
    font-size: 47px;
    line-height: 1.2;
    margin-top: 26px;
  }
  h3 {
    padding: 0 34px;
  }
}


/* ==========================================================================
   Steps of using the app
   ========================================================================== */

.step {
  @include span-columns(6);
  @include omega(2n);
  text-align: center;
  margin-top: 29px;
  @include media($mobile) {
    @include span-columns(12);
  }

  p {
    @include span-columns(12);
    padding: 0 13px;
  }
  img {
    max-width: 147px;
    margin-bottom: 11px;
  }
}