@font-face {
  font-family: 'fontello';
  src: font-url('fontello.eot');
  src: font-url('fontello.eot?#iefix') format('embedded-opentype'),
       font-url('fontello.woff') format('woff'),
       font-url('fontello.ttf') format('truetype'),
       font-url('fontello.svg?#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  font-size: 1em;
  margin-right: 2px;
  transition: color 0.2s ease-in;
}

.icon-link:before { content: '\e800'; }
.icon-gift:before { content: '\e801'; }
.icon-delete:before { content: '\e802'; }
.icon-edit:before { content: '\e803'; }
.icon-check:before { content: '\e804'; }
.icon-heart:before { content: '\e805'; }
.icon-alert:before { content: '\e806'; }
.icon-twitter:before { content: '\e807'; }


.larger-icons {
  font-size: 1.5em;
  vertical-align: middle;
}

::-moz-selection {
  background-color: #3a92c8;
  color: $beta-c;
}

::selection {
  background-color: #3a92c8;
  color: $beta-c;
}


strong {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  @include transition (color 0.2s ease-in);
  &:hover {
    color: $primary-c;
  }
}

p {
  line-height: 1.4;
  margin-bottom: 18px;
}


h1 {
  float: left;
  line-height: 56px;
  position: relative;
  @include media($tablet) {
    float: none;
    line-height: 1.4;
    display: inline;
  }

  a {
    padding-left: 50px;
    font-family: $archer;
    font-weight: 700;
    color: $beta-c;
    font-style: normal;
    font-size: 46px;
    text-decoration: none;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 38px;
      height: 56px;
      transition: background 0.2s linear;
      background: asset-data-url("logo@2x.png") no-repeat;
      background-size: contain;
    }
    &:hover {
      color: $beta-c;
      &:before {
        background: asset-data-url("logo_hover@2x.png") no-repeat;
        background-size: contain;
      }
    }
  }
  span {
    font-weight: 400;
  }
}

h2 {
  font-family: $archer;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 29px;
}

h3 {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 18px;
}

.logo-text {
  font-family: $archer;
  font-weight: 700;
  span {
    font-weight: 400;
  }
}

.beta-label {
  position: absolute;
  bottom: 5px;
  right: 38px;
  font-family: $whitney;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.4;
  @include media($tablet) {
    position: static;
  }
}

.user-welcome {
  font-size: 13px;
  color: $beta-c;
}

.icon-heart:before,
.icon-gift:before,
.icon-delete:before {
  color: #F06050;
}

.icon-gift {
  &.gift-success:before {
    color: $success-c;
  }
  &.gift-bought:before {
    color: tint($alpha-c, 21%);
  }
}

.icon-check {
  &:before {
    color: $success-c;
  }
  &:hover:before {
    color: shade($success-c, 21%);
  }
}
.icon-delete:hover:before {
  color: shade(#F06050, 21%);
}