@font-face {
  font-family: 'fontello';
  src: font-url('fontello.eot');
  src: font-url('fontello.eot?#iefix') format('embedded-opentype'),
       font-url('fontello.woff') format('woff'),
       font-url('fontello.ttf') format('truetype'),
       font-url('fontello.svg?#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-gift:before { content: '\e802'; }
.icon-heart:before { content: '\e805'; }
.icon-ok:before { content: '\e803'; }
.icon-cancel:before { content: '\e804'; }
.icon-link:before { content: '\e800'; }

::-moz-selection,
::selection {
  background-color: #3a92c8;
  color: $beta-c;
}

strong {
  &.whitney {
    font-weight: 600;
  }
  &.archer {
    font-weight: 800;
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  @include transition (color 0.2s ease-in);
  &:hover {
    color: $primary-c;
  }
}


h1 {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 800;
  font-style: normal;
  font-size: 46px;
  position: relative;
  padding-left: 50px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 38px;
    height: 56px;
    background: asset-data-url("logo@2x.png") no-repeat;
    background-size: contain;
  }
  span {
    font-weight: 400;
  }
  a {
    color: inherit;
  }
}

h2 {
  font-size: 21px;
  margin-bottom: 18px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

.beta-label {
  position: absolute;
  bottom: -6px;
  right: 38px;
  font-family: $whitney;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.4;
}

.icon-heart {
  color: $warning-c;
}