$max-width: 720px;
$whitney: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$archer: 'Archer SSm A', 'Archer SSm B', serif;
$alpha-c: #383737;
$beta-c: #fafafa;
$warning-c: #c26868;
$success-c: #86be91;
$primary-c: #50a9d1;

$medium: new-breakpoint(max-width 730px);
$mobile: new-breakpoint(max-width 470px);