<footer>
  <div class="container">
    <p class="made-by">Made with <i class="icon-heart"></i> in London by Sam Mason</p> <!--  .made-by -->
    <small>&copy;Pinefor <%= Time.now.year %></small>
  </div> <!--  .container -->
</footer>