<footer>
  <div class="container">
    <p class="made-by">Made with <i class="icon-heart"></i> in London by Sam Mason</p> <!--  .made-by -->

    <div class="footer-links">
      <a href="mailto:hello@pinefor.it" class="icon-alert">Bugs/Features</a>
      <a href="http://twitter.com/pineforit" class="icon-twitter"></a>
      <%= link_to "about", about_path %>
      <small>&copy;Pinefor <%= Time.now.year %></small>
    </div> <!--  .footer-links -->
  </div> <!--  .container -->
</footer>